@import '@/assets/styles/_variables.scss';

:root {
  --white: #fff;
  --background: #f5f5f5;
  --tabs-background: #fff;
  --tabs-border: #fff;
  --card-background: #d1e3eb;
  --card-background-selected: #99ed6f;
  --modale-background: #fff;
  --modale-text: #000;
  --toggle-theme-background: #d1e3eb;
  --violet: #6200ee;
  --btn-player-add-remove: #000;
  --text: #000;
  --red: #f0483e;
  --green: #99ed6f;
  --menu-background: rgba(209, 227, 235, 0.6);

  // https://atlassian.design/foundations/color-new/color-palette-new
  // https://colorhunt.co/palettes/dark
  &[data-theme="dark"] {
  //@media (prefers-color-scheme: dark){
    --white: #C7D1DB;
    --background: #292335;
    --tabs-background: #1D2125;
    --tabs-border: #3F384C;
    --card-background: #2D2836;
    --card-background-selected: #3F384C;
    --input-background: #292335;
    --input-background-focus: #4B4655;
    --modale-background: #3F384C;
    --modale-text: #fff;
    --toggle-theme-background: #3F384C;
    --violet: #513a7a;
    --text: #d4bbff;
    --red: #C84B31;
    --green: #1F845A;
    --menu-background: rgba(45, 40, 54, 0.6);
  }
}

/// Base font-size for html equates to 10px : allows using rem font-sizes everywhere by dividing / 10.
/// Ex : 2rem will equate to 20px.
html {
  font-size: 0.625em;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: $ff-default;
  background-color: var(--background);
  font-size: 1.6rem;
  color: var(--text);
  margin: 0;
}

h1 {
  margin-top: 0;
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1.2rem;
}

ul {
  list-style: none;
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  flex: none; // for ie 11
}

button {
  cursor: pointer;
}

.btn-icon {
  border: none;
  background: transparent;
  padding: 0;
}

input {
  &[type='text'],
  &[type='email'],
  &[type='password'],
  &[type='firstname'] {
    font-size: 1.5rem;
    background-color: var(--input-background);
    color: var(--text);
    border: none;
    border-bottom-color: rgba(0,0,0,0.42);
    border-bottom: 1px solid;
    border-radius: 4px 4px 0 0;
    padding: 1rem 1.6rem;

    &::placeholder {
      color: var(--text);
      opacity: 0.5;
    }

    &:focus {
      outline: none;
      background-color: var(--input-background-focus);
    }
  }
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.content-page {
  padding: 5rem 1rem 3rem 1rem;
}

.form-connect {
  label {
    display: block;
  }

  .form-item {
    margin-bottom: 2.5rem;
  }

  .form-actions {
    text-align: right;
    margin-top: 3rem;
  }
}

.btn-init,
.btn-add-players,
.btn-delete,
.btn-edit,
.btn-valid {
  color: var(--white);
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
}

.btn-init,
.btn-delete {
  background-color: var(--red);

  .svg-inline--fa {
    font-size: 2rem;
  }
}

.btn-add-players,
.btn-edit {
  background-color: var(--violet);
  
  .svg-inline--fa {
    font-size: 2.5rem;
  }
}

.btn-edit,
.btn-edit {
  .svg-inline--fa {
    font-size: 1.7rem;
  }
}

.btn-valid {
  background-color: var(--green);

  .svg-inline--fa {
    font-size: 2.3rem;
  }
}