@import '@/assets/styles/_variables.scss';

/// Base font-size for html equates to 10px : allows using rem font-sizes everywhere by dividing / 10.
/// Ex : 2rem will equate to 20px.
html {
  font-size: 0.625em;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: $ff-default;
  background-color: $c-white;
  font-size: 1.6rem;
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  flex: none; // for ie 11
}

button {
  cursor: pointer;
}

.btn-icon {
  border: none;
  background: transparent;
  padding: 0;
}

.btn-modal {
  @extend .btn-icon;

  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  color: $c-modal-btn;
  padding: 0.8rem;
}

input {
  &[type='text'] {
    font-size: 1.5rem;
    background-color: $c-grey;
    border: none;
    border-bottom-color: rgba(0,0,0,0.42);
    border-bottom: 1px solid;
    border-radius: 4px 4px 0 0;
    padding: 1rem 1.6rem;

    &:focus {
      outline: none;
      border-bottom-color: $c-modal-btn;
    }
  }
}